{% extends 'user_example/base_user.html' %}

    <title>
        {% block title %}
            Blog
        {% endblock %}
    </title>



   {% block login %}
        {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
                <a class="nav-link disabled text-light" href="/admin" >Вы админ</a>
            {% else %}
                <a class="nav-link disabled text-light" href="{% url 'profile' pk=request.user.userprofile.pk %}" >
                    Моя страница
                </a>
            {% endif %}
        {% else %}
            <a class="nav-link disabled text-light" href="accounts/login" >Войдите в профиль</a>
        {% endif %}
    {% endblock %}


{% block content %}
    {% for post in posts %}
        <div class="card w-50 mx-auto mt-5">
            <div class="card-body">
                <h3 class="card-title">Автор: {{ post.book_author }}</h3>
                <h3 class="card-title">Книга: {{ post.book_name }}</h3>
                <p class="card-text">{{ post.book_review }}</p>
                <p> {{ post.created_at }}</p>
                <p class="card-text">{{ request.user.userprofile }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}